<!-- Start header -->
<header id="header" class="site-header header-style-1">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col col-md-9">
                    <div class="contact-info">
                        <ul>
                            <li><i class="ti-mobile"></i> Fix : +225 2730612187 / 0173075707</li>
                            <li><i class="ti-email"></i> contact@irisprestigetp.com</li>
                            <li><i class="ti-time"></i> Lundi - vendredi 8h - 17h </li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-3">
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end topbar -->
    <nav class="navigation navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="open-btn">
                    <span class="sr-only">Basculer la navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img src="assets/images/LogoRe.png" alt="Image" height="50" width="100"></a>
        
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                <button class="close-navbar"><i class="ti-close"></i></button>
                <ul class="nav navbar-nav">
                    <li><a routerLink="">Accueil</a></li>
                    <li class="menu-item-has-children">
                        <a routerLink="#">IRISPRESTIGETP ENTREPRISE</a>
                        <ul class="sub-menu">
                            <li><a routerLink="about">Mot du DG</a></li>
                            <li><a routerLink="about">Qui sommes nous ?</a></li>
                            <li><a routerLink="testimonials">Testimonials</a></li>
                            <li><a routerLink="team">Nos Ressources Humaines</a></li>
                            <li><a routerLink="faq">FAQ</a></li>

                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a routerLink="#">NOS SERVICE</a>
                        <ul class="sub-menu">
                            <li><a routerLink="/services">Prestation De Service</a></li>
                            <li><a routerLink="/amenagement-foncier">Aménagement Foncier</a></li>
                            <li><a routerLink="/lotissement">lotissement</a></li>
                            <li><a routerLink="/construction">construction</a></li>
                            <li><a routerLink="/btp">BTP</a></li>
                            <li><a routerLink="/fourniture">Matériel De Construction</a></li>
                            <li><a routerLink="/prestation-de-service">Prestation De Service</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a routerLink="#">Nos Actualite</a>
                        <ul class="sub-menu">
                            <li><a routerLink="/projects">projets</a></li>
    
                            <li><a routerLink="/portfolio-single">Project single</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/blog">Blog</a></li>
                   
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div><!-- end of nav-collapse -->

            <div class="search-contact">
                <div class="header-search-form-wrapper">
                    <button class="search-toggle-btn"><i class="ti-search"></i></button>
                    <div class="header-search-form">
                        <form>
                            <div>
                                <input type="text" class="form-control" placeholder="Rechercher...">
                                <button type="submit"><i class="ti-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="contact-btn">
                    <a href="#" class="theme-btn-s2">Obtenez un devis</a>
                </div>
            </div>
        </div><!-- end of container -->
    </nav>
</header>
<!-- end of header -->
