

        <!-- start of hero -->
        <section class="hero-slider hero-style-1">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image" data-background="assets/images/slider/home3.jpg" height="1920" width="891">
                            <div class="container">
                                <div data-swiper-parallax="300" class="slide-subtitle">
                                    <span>IRISPRESTIGETP</span>
                                </div>
                                <div data-swiper-parallax="400" class="slide-title">
                                    <h2><span>IRIS PRESTIGE</span> TRAVAUX PUBLICS</h2>
                                </div>
                                <div class="clearfix"></div>
                                <div data-swiper-parallax="500" class="slide-btns">
                                    <a href="" class="theme-btn"> Notre société</a> 
                                    <a href="" class="theme-btn-s2">Contactez-nous</a> 
                                </div>
                            </div>
                        </div> <!-- end slide-inner --> 
                    </div> <!-- end swiper-slide -->

                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image" data-background="assets/images/slider/home1.jpg" height="1920" width="891">
                            <div class="container">
                                <div data-swiper-parallax="300" class="slide-subtitle">
                                    <span>IRISPRESTIGETP</span>
                                </div>
                                <div data-swiper-parallax="400" class="slide-title">
                                    <h2><span>IRIS PRESTIGE</span> TRAVAUX PUBLICS</h2>
                                </div>
                                <div class="clearfix"></div>
                                <div data-swiper-parallax="500" class="slide-btns">
                                    <a href="" class="theme-btn"> Notre société</a> 
                                    <a href="" class="theme-btn-s2">Contactez-nous</a> 
                                </div>
                            </div>
                        </div> <!-- end slide-inner --> 
                    </div> <!-- end swiper-slide -->

                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image" data-background="assets/images/slider/home2.jpg" height="1920" width="891">
                            <div class="container">
                                <div data-swiper-parallax="300" class="slide-subtitle">
                                    <span>IRISPRESTIGETP</span>
                                </div>
                                <div data-swiper-parallax="400" class="slide-title">
                                    <h2><span>IRIS PRESTIGE</span> TRAVAUX PUBLICS</h2>
                                </div>
                                <div class="clearfix"></div>
                                <div data-swiper-parallax="500" class="slide-btns">
                                    <a href="" class="theme-btn"> Notre société</a> 
                                    <a href="" class="theme-btn-s2">Contactez-nous</a> 
                                </div>
                            </div>
                        </div> <!-- end slide-inner --> 
                    </div><!-- end swiper-slide --> 
                </div>
                <!-- end swiper-wrapper -->

                <!-- swipper controls -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
        <!-- end of hero slider -->


        <!-- start features-section -->
        <section class="features-section">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="feature-grids clearfix">
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/features/01.jpeg" height="50" width="50" alt>
                                </div>
                                <h3>01. Quality Materials</h3>
                                <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/features/02.jpeg" height="50" width="50" alt>
                                </div>
                                <h3>02. Expert Team</h3>
                                <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/features/03.jpeg" height="50" width="50" alt>
                                </div>
                                <h3>03. Timely Delivery</h3>
                                <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/features/Terrain2.jpeg" height="50" width="50" alt>
                                </div>
                                <h3>04. 24/7 Suport</h3>
                                <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end features-section -->

        
        
        <!-- start about-us-section-s2 -->
        <section class="about-us-section-s2 section-padding p-t-0">
            <div class="container">
                <div class="row">
                    <div class="col col-md-5">
                        <div class="img-holder about-image">
                            <img src="assets/images/about-s2.png" height="470" width="650" alt>
                        </div>
                    </div>
                    <div class="col col-md-7">
                        <div class="about-details">
                            <div class="section-title">
                                <span>À PROPOS DE NOUS</span>
                                <h2>IRIS PRESTIGE TRAVAUX PUBLICS <span>est une entreprise de BTP</span></h2>
                            </div>
                            <div class="details">
                                <p>Créé en 2013, <strong>IRIS PRESTIGE TRAVAUX PUBLICS</strong> est spécialisée dans les domaines des Routes et Voiries, du Bâtiment, de l'Energie et de l'Hydraulique. Cette diversité d’activités, mêlée à un savoir-faire remarquable, fait de l'entreprise irisprestigetp l’un des acteurs principaux de développement de la Côte d'Ivoire.</p>
                                <ul>
                                    <li><i class="ti-arrow-circle-right"></i> L’Aménagement Foncier </li>
                                    <li><i class="ti-arrow-circle-right"></i> Le lotissement </li>
                                    <li><i class="ti-arrow-circle-right"></i> LA RÉHABILITATION  </li>
                                    <li><i class="ti-arrow-circle-right"></i> LE BTP </li>
                                    <li><i class="ti-arrow-circle-right"></i> LA FOURNITURE DE Matériel De Construction, D’ÉQUIPEMENT ET DE Prestation De ServiceS </li>
                                </ul>
                            </div>
                            <div class="ceo-quote">
                                <blockquote>
                                    C’est pourquoi, sur l’ensemble du territoire, nos équipes sur chaque site restent mobilisées afin de relever tous les nouveaux challenges de cette ère. Notre mot d’ordre, c’est d’offrir le meilleur !
                                    <span>-Nom du DG (Le Directeur Général de l'entreprise)</span>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end about-us-section-s2 -->


        <!-- start services-section-s2 -->
        <section class="services-section-s2 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="section-title-s4">
                            <span>Services</span>
                            <h2>Les meilleurs services <span>nous fournissons</span></h2>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="service-grids clearfix">
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-1.jpeg" height="233" width="350" alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-solar-energy"></i>
                                    <h3><a href="">L’Aménagement Foncier</a></h3>
                                    <p>Récemment découpé dans une magine illustrée et logé dans l'industrie</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-2.jpeg" height="233" width="350"  alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-plug"></i>
                                    <h3><a href="">LE LOTISSEMENT</a></h3>
                                    <p>Récemment découpé dans une magine illustrée et logé dans l'industrie</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-3.jpeg" height="233" width="350"  alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-oil-barrel"></i>
                                    <h3><a href="">LA RÉHABILITATION</a></h3>
                                    <p>Récemment découpé dans une magine illustrée et logé dans l'industrie</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-4.jpeg" height="233" width="350"  alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-oil-1"></i>
                                    <h3><a href="">LE BTP</a></h3>
                                    <p>Récemment découpé dans une magine illustrée et logé dans l'industrie</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-5.jpeg" height="233" width="350"  alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-truck"></i>
                                    <h3><a href="">LA FOURNITURE DE Matériel De Construction, D’ÉQUIPEMENT ET DE Prestation De ServiceS</a></h3>
                                    <p>Récemment découpé dans une magine illustrée et logé dans l'industrie</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/services/img-6.jpeg" height="233" width="350"  alt>
                                </div>
                                <div class="details">
                                    <i class="fi flaticon-factory"></i>
                                    <h3><a href="">Bâtiment</a></h3>
                                    <p>Récemment découpé dans une magine illustrée et logé dans l'industrie</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end services-section-s2 -->


        <!-- start contact-section -->
        <section class="contact-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="left-col">
                            <div class="img-holder">
                                <img src="assets/images/contact-man.jpeg" height="500" width="540"  alt>
                                <div class="call-back">
                                    <h3>500+</h3><span>Rappelez-nous</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="contact-form">
                            <div class="section-title">
                                <span>CONTACTEZ-NOUS</span>
                                <h2>Vous pouvez nous contacter, <span>si vous avez des questions</span></h2>
                            </div>
                            <form method="post" class="contact-validation-active" id="contact-form-main">
                                <div>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Nom*">
                                </div>
                                <div>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="E-mail*">
                                </div>
                                <div>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Téléphone*">
                                </div>
                                <div>
                                    <select name="subject" class="form-control">
                                        <option disabled="disabled" selected>Objet du contact</option>
                                        <option>Sujet 1</option>
                                        <option>Sujet 2</option>
                                        <option>Sujet 3</option>
                                    </select>
                                </div>
                                <div class="fullwidth">
                                    <textarea class="form-control" name="note"  id="note" placeholder="Description du cas..."></textarea>
                                </div>
                                <div class="submit-area">
                                    <button type="submit" class="submit-btn">SOUMETTRE MAINTENANT</button>
                                    <div id="loader">
                                        <i class="ti-reload"></i>
                                    </div>
                                </div>
                                <div class="clearfix error-handling-messages">
                                    <div id="success">Merci</div>
                                    <div id="error"> Une erreur s'est produite lors de l'envoi du courrier électronique. Veuillez réessayer plus tard. </div>
                                </div>
                            </form>
                        </div>                            
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end contact-section -->


        <!-- start cta-section-s2 -->
        <section class="cta-section-s2">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="cta-details">
                            <p>Nous prenons soin de votre industrie</p>
                            <h2>Meilleure solution industrielle au monde</h2>
                            <a href="" class="theme-btn">Contactez-nous</a>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end cta-section-s2 -->


        <!-- start latest-projects-section-s2 -->
        <section class="latest-projects-section-s2 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="section-title-s4">
                            <span>Projets</span>
                            <h2>Voir les derniers projets <span>Pour notre client</span></h2>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="content-area">
                <div class="team-grids projects-slider">
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/1.jpg" height="550" width="659" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="">Projet yammoussoukrot</a></h3>
                                    <p class="cat">Industry, Entreprise</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/2.jpg" height="550" width="659" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="">Projet yammoussoukrot</a></h3>
                                    <p class="cat">Industrie, Entreprise</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/3.jpg"height="550" width="659" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="">Projet yammoussoukrot</a></h3>
                                    <p class="cat">Industry, Entreprise</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/4.jpg" height="550" width="659" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="">Projet yammoussoukrot</a></h3>
                                    <p class="cat">Industry, Entreprise</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/5.jpg" height="550" width="659" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="">Projet yammoussoukrot</a></h3>
                                    <p class="cat">Industry, Entreprise</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner">
                            <div class="img-holder">
                                <img src="assets/images/latest-projects/6.jpg" height="550" width="659" alt>
                            </div>
                            <div class="details">
                                <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                <div class="info">
                                    <h3><a href="">Projet yammoussoukrot</a></h3>
                                    <p class="cat">Industry, Entreprise</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end latest-projects-section-s2 -->


        <!-- start why-choose-us-section -->
        <section class="why-choose-us-section section-padding p-t-0">
            <div class="container">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="inner-area">
                            <div class="section-title">
                                <span>POURQUOI NOUS CHOISIR</span>
                                <h2>13 ans d'expérience, <span>dans les traveaux publics</span></h2>
                            </div>
                            <div class="details">
                                <p>Découpé dans un magazine illustré et logé dans un joli cadre doré. Il représentait une dame équipée d'un chapeau de fourrure et d'un boa de fourrure, assise droite, soulevant un lourd manchon de fourrure qui recouvrait tout son avant-bras vers le spectateur et logé dans un joli cadre doré.</p>
                                <div class="skills">
                                    <div class="skill">
                                        <h6>Production</h6>
                                        <div class="progress">
                                            <div class="progress-bar" data-percent="85"></div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <h6>Industrial</h6>
                                        <div class="progress">
                                            <div class="progress-bar" data-percent="95"></div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <h6>Construction</h6>
                                        <div class="progress">
                                            <div class="progress-bar" data-percent="92"></div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <h6>Satisfaction</h6>
                                        <div class="progress">
                                            <div class="progress-bar" data-percent="95"></div>
                                        </div>
                                    </div>
                                </div>                        
                            </div>                        
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="img-holder">
                            <img src="assets/images/skill-img.jpg" alt>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end why-choose-us-section -->


        <!-- start team-section -->
        <section class="team-section section-padding p-t-0">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="section-title-s4">
                            <span>Members</span>
                            <h2>Our Dedicated Tem <span>For your service</span></h2>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="team-grids">
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-1.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href=""><i class="ti-facebook"></i></a></li>
                                            <li><a href=""><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href=""><i class="ti-linkedin"></i></a></li>
                                            <li><a href=""><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Danial Jain</h3>
                                    <span>Mechanical Engineering</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-2.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href=""><i class="ti-facebook"></i></a></li>
                                            <li><a href=""><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href=""><i class="ti-linkedin"></i></a></li>
                                            <li><a href=""><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Jonathon Bill</h3>
                                    <span>Site Manager</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-3.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href=""><i class="ti-facebook"></i></a></li>
                                            <li><a href=""><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href=""><i class="ti-linkedin"></i></a></li>
                                            <li><a href=""><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Gotalon Simrol</h3>
                                    <span>Testing Manager</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-5.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href=""><i class="ti-facebook"></i></a></li>
                                            <li><a href=""><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href=""><i class="ti-linkedin"></i></a></li>
                                            <li><a href=""><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Mine Dow</h3>
                                    <span>Cheif Officer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end team-section -->

        
        <!-- start partners-section -->
        <section class="partners-section">
            <h2 class="hidden">Partners</h2>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="partner-grids partners-slider">
                            <div class="grid">
                                <img src="assets/images/partners/img-1.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-2.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-3.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-4.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-5.jpg" alt>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
            </div> <!-- end container -->
        </section>
        <!-- end partners-section -->


        <!-- start testimonials-section -->
        <section class="testimonials-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="testimonial-grids testimonials-slider">
                            <div class="grid">
                                <div class="client-info">
                                    <div class="client-pic">
                                        <img src="assets/images/testimonials/img-1.jpg" alt>
                                    </div>
                                    <h4>Jhon Dow</h4>
                                    <span>Manager of Demok</span>
                                </div>
                                <div class="client-quote">
                                    <p>“collection of textile samples lay spread out on the table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur”</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="client-info">
                                    <div class="client-pic">
                                        <img src="assets/images/testimonials/img-2.jpg" alt>
                                    </div>
                                    <h4>Jhon Dow</h4>
                                    <span>Manager of Demok</span>
                                </div>
                                <div class="client-quote">
                                    <p>“collection of textile samples lay spread out on the table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end testimonials-section -->


        <!-- start blog-section -->
        <section class="blog-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-4">
                        <div class="section-title">
                            <span>Recent news</span>
                            <h2>See what’s happing <span>in our blog</span></h2>
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="title-text">
                            <p>Showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm.</p>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="view-all">
                            <a href="" class="theme-btn">View all post</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="blog-grids">
                            <div class="grid">
                                <div class="entry-media">
                                    <img src="assets/images/blog/img-1.jpg" alt>
                                </div>
                                <div class="details">
                                    <h3><a href="">Garment sector set to take an environmental turn arround the world</a></h3>
                                    <p class="date">Jun 18, 2019</p>
                                    <p>small, lay peacefully between its four familiar walls. A collection of textile samples lay spread</p>
                                    <a href="" class="more">Read more</a>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="entry-media">
                                    <img src="assets/images/blog/img-2.jpg" alt>
                                </div>
                                <div class="details">
                                    <h3><a href="">Harrowing consequences of a life without hope for small-scale</a></h3>
                                    <p class="date">Jun 18, 2019</p>
                                    <p>small, lay peacefully between its four familiar walls. A collection of textile samples lay spread</p>
                                    <a href="" class="more">Read more</a>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="entry-media">
                                    <img src="assets/images/blog/img-3.jpg" alt>
                                </div>
                                <div class="details">
                                    <h3><a href="">Their families have been farming cotton for generations</a></h3>
                                    <p class="date">Jun 18, 2019</p>
                                    <p>small, lay peacefully between its four familiar walls. A collection of textile samples lay spread</p>
                                    <a href="" class="more">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end blog-section -->
