
        <!-- start site-footer -->
        <footer class="site-footer">
            <div class="upper-footer">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-3 col-md-3 col-sm-6">
                            <div class="widget about-widget">
                                <div class="logo widget-title">
                                    <h3>À propos de nous</h3>
                                </div>
                                <p>Qui s'est assise droite, soulevant un lourd manchon de fourrure qui recouvrait tout son avant-bras vers le spectateur. Gregor se tourna alors vers</p>
                                <div class="social">
                                    <ul>
                                        <li><a href=""><i class="ti-facebook"></i></a></li>
                                        <li><a href=""><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href=""><i class="ti-linkedin"></i></a></li>
                                        <li><a href=""><i class="ti-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-3 col-sm-6">
                            <div class="widget link-widget">
                                <div class="widget-title">
                                    <h3>Liens importants</h3>
                                </div>
                                <ul>
                                    <li><a href="">À propos de nous</a></li>
                                    <li><a href="">L'équipe</a></li>
                                    <li><a href="">Nos services</a></li>
                                    <li><a href="">Contact</a></li>
                                </ul>
                                <ul>
                                    <li><a href="">politique de confidentialité</a></li>
                                    <li><a href="">FAQ</a></li>
                                    <li><a href="">News</a></li>
                                    <li><a href="">Témoignages</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-3 col-sm-6">
                            <div class="widget contact-widget service-link-widget">
                                <div class="widget-title">
                                    <h3>Adresse Localisation</h3>
                                </div>
                                <ul>
                                    <li>House no 25, dreen street, melborn Dowltown</li>
                                    <li>Phone: +225 2730612187 </li>
                                    <li>Fix : +225  0173075707</li>
                                    <li>Office Time: 8h- 17h</li>
                                    <li>Email: contact@irisprestigetp.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-3 col-sm-6">
                            <div class="widget newsletter-widget">
                                <div class="widget-title">
                                    <h3>Newsletter</h3>
                                </div>
                                <p>Vous serez averti lorsque quelque chose de nouveau apparaîtra.</p>
                                <form>
                                    <div class="input-1">
                                        <input type="email" class="form-control" placeholder="Adresse e-mail *" required>
                                    </div>
                                    <div class="submit clearfix">
                                        <button type="submit"><i class="ti-email"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- end container -->
            </div>
            <div class="lower-footer">
                <div class="container">
                    <div class="row">
                        <div class="separator"></div>
                        <div class="col col-xs-12">
                            <p class="copyright">Copyright &copy; 2023 irisprestigetp. All rights reserved.</p>
                            <div class="short-links">
                                <ul>
                                    <li><a href="">Confidentialité</a></li>
                                    <li><a href="">Conditions d'utilisation</a></li>
                                    <li><a href="">Cookies</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end site-footer -->
