
        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Qui sommes-nous</h2>
                        <ol class="breadcrumb">
                            <li><a href="">Accueil</a></li>
                            <li>Qui sommes-nous?</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->

        <!-- start why-choose-us-section -->
        <section class="why-choose-us-section why-choose-faq-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="inner-area">
                            <div class="section-title">
                                <span>Qui sommes-nous?</span>
                                <h2>10 ans d'expérience, <span>dans cette industrie</span></h2>
                            </div>
                            <div class="details">
                                <p>Créé en 2013, IRISPRESTIGETP (Société de Construction et de Rénovation) est une entreprise de BTP spécialisée dans les domaines des Routes et Voiries, du Bâtiment, de l'Energie et de l'Hydraulique. Cette diversité d’activités, mêlée à un savoir-faire remarquable, fait de l'entreprise IRISPRESTIGETP l’un des acteurs principaux de développement de la Côte d'Ivoire.
                                    IRISPRESTIGETP est une société à Responsabilité Limitée (SARL) de droit ivoirien. Elle est Leader dans ses différents domaines d'activités grâce à son sérieux, son professionnalisme et sa rigueur.
                                    IRISPRESTIGETP s'appuie sur une équipe très dynamique et experte tout en se dotant de matériel de dernière génération pour les travaux et d'outils de digitalisation de son activité ainsi que de son administration.
                                    Notre objectif est d'offrir des services de qualité à nos partenaires pour un véritable développement durable.  </p>
                                <div class="skills">
                                    <div class="skill">
                                        <h6>L’Aménagement Foncier</h6>
                                        <div class="progress">
                                            <div class="progress-bar" data-percent="85"></div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <h6>Le lotissement</h6>
                                        <div class="progress">
                                            <div class="progress-bar" data-percent="95"></div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <h6>LA construction</h6>
                                        <div class="progress">
                                            <div class="progress-bar" data-percent="92"></div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <h6>LA RÉHABILITATION</h6>
                                        <div class="progress">
                                            <div class="progress-bar" data-percent="95"></div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <h6>LE BTP</h6>
                                        <div class="progress">
                                            <div class="progress-bar" data-percent="40"></div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <h6>PRESTATION_DE_SERVICE</h6>
                                        <div class="progress">
                                            <div class="progress-bar" data-percent="90"></div>
                                        </div>
                                    </div>
                                </div>                        
                            </div>                        
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="section-title">
                            <span>FAQ</span>
                            <h2>Question importante, <span>demander par le client</span></h2>
                        </div>
                        <div class="faq-section">
                            <div class="panel-group faq-accordion theme-accordion-s1" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true">Question numéro un ?</a>
                                    </div>
                                    <div id="collapse-1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>Tout son avant-bras vers le spectateur. Gregor se tourna alors pour regarder par la fenêtre le temps maussade. des échantillons de textiles étaient étalés sur la table.</p>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Question numéro deux ?</a>
                                    </div>
                                    <div id="collapse-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Tout son avant-bras vers le spectateur. Gregor se tourna alors pour regarder par la fenêtre le temps maussade. des échantillons de textiles étaient étalés sur la table.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">Question numéro trois ?</a>
                                    </div>
                                    <div id="collapse-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Tout son avant-bras vers le spectateur. Gregor se tourna alors pour regarder par la fenêtre le temps maussade. des échantillons de textiles étaient étalés sur la table.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end why-choose-us-section -->
        <!-- start features-section-s2 -->
        <section class="features-section-s2 about-us-page-feature">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="feature-grids clearfix">
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/features/01.png" alt>
                                </div>
                                <h3>01. Matériaux de qualité</h3>
                                <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/features/02.png" alt>
                                </div>
                                <h3>02. Équipe d'experts</h3>
                                <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/features/03.png" alt>
                                </div>
                                <h3> 03. Livraison dans les délais</h3>
                                <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/features/04.png" alt>
                                </div>
                                <h3>04. Assistance 24h/24 et 7j/7</h3>
                                <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end features-section-s2 -->



        <!-- start latest-projects-section -->
        <section class="latest-projects-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="section-title-s3">
                            <span>PROJETS</span>
                            <h2>Voir les derniers projets</h2>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12 sortable-gallery">
                        <div class="gallery-filters">
                            <ul>
                                <li><a data-filter="*" href="" class="current">TOUS LES CAS</a></li>
                                <li><a data-filter=".chemical" href="">Aménagement Foncier</a></li>
                                <li><a data-filter=".oil" href="">LOTISSEMENT</a></li>
                                <li><a data-filter=".mechanical" href="">CONSTRUCTION</a></li>
                                <li><a data-filter=".industrial" href="">REHABILITATION</a></li>
                                <li><a data-filter=".oil" href="">BTP</a></li>
                                <li><a data-filter=".fourniture" href="">FOURNITURE DE MATÉRIEL</a></li>
                                <li><a data-filter=".industrial" href="">Prestation De Service</a></li>
                            </ul>
                        </div>
                        <div class="gallery-container project-grids">
                            <div class="grid chemical">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-1.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="">Projet industriel</a></h3>
                                            <p class="cat">Industrie, Entreprise</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid eudcation oil">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-2.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="">Projet industriel</a></h3>
                                            <p class="cat">Industrie, Entreprise</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid oil eudcation">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-3.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="">Projet industriel</a></h3>
                                            <p class="cat">Industrie, Entreprise</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid chemical mechanical">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-4.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="">Projet industriel</a></h3>
                                            <p class="cat">Industrie, Entreprise</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid oil industrial">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-5.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="">Projet industriel</a></h3>
                                            <p class="cat">Industrie, Entreprise</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid mechanical industrial">
                                <div class="inner">
                                    <div class="img-holder">
                                        <img src="assets/images/latest-projects/img-6.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <div class="arrow"><a href=""><i class="fi flaticon-next"></i></a></div>
                                        <div class="info">
                                            <h3><a href="">Projet industriel</a></h3>
                                            <p class="cat">Industrie, Entreprise</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end latest-projects-section -->

        <!-- start team-section -->
        <section class="team-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="section-title-s4">
                            <span>MEMBRES</span>
                            <h2>Notre équipe dédiée <span>Pour votre service</span></h2>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="team-grids">
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-1.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href=""><i class="ti-facebook"></i></a></li>
                                            <li><a href=""><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href=""><i class="ti-linkedin"></i></a></li>
                                            <li><a href=""><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Danial Jain</h3>
                                    <span>Génie mécanique</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-2.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href=""><i class="ti-facebook"></i></a></li>
                                            <li><a href=""><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href=""><i class="ti-linkedin"></i></a></li>
                                            <li><a href=""><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Beibro Kouassi</h3>
                                    <span>Responsable Informatique</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-3.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href=""><i class="ti-facebook"></i></a></li>
                                            <li><a href=""><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href=""><i class="ti-linkedin"></i></a></li>
                                            <li><a href=""><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Gotalon Simrol</h3>
                                    <span>Gestionnaire de sites</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-5.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href=""><i class="ti-facebook"></i></a></li>
                                            <li><a href=""><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href=""><i class="ti-linkedin"></i></a></li>
                                            <li><a href=""><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Mine Dow</h3>
                                    <span>Officier en chef</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end team-section -->

        
        <!-- start partners-section -->
        <section class="partners-section">
            <h2 class="hidden">Partners</h2>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="partner-grids partners-slider">
                            <div class="grid">
                                <img src="assets/images/partners/img-1.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-2.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-3.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-4.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-5.jpg" alt>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
            </div> <!-- end container -->
        </section>
        <!-- end partners-section -->
